# Sorting Pandas DataFrames and Objects

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv(r"D:\Notes_Notebooks\Data\diabetes_dataset.csv")
pd.set_option('display.min_rows',20)

In [2]:
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
5,Female,20.0,0,0,never,27.32,6.6,85,0
6,Female,44.0,0,0,never,19.31,6.5,200,1
7,Female,79.0,0,0,No Info,23.86,5.7,85,0
8,Male,42.0,0,0,never,33.64,4.8,145,0
9,Female,32.0,0,0,never,27.32,5.0,100,0
...,...,...,...,...,...,...,...,...,...
99990,Male,39.0,0,0,No Info,27.32,6.1,100,0
99991,Male,22.0,0,0,current,29.65,6.0,80,0
99992,Female,26.0,0,0,never,34.34,6.5,160,0
99993,Female,40.0,0,0,never,40.69,3.5,155,0
99994,Female,36.0,0,0,No Info,24.60,4.8,145,0
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

# Sorting Pandas Object Using:- `sort_values()`

## 1) Sorting the DataFrame by Single Column(age) values

In [3]:
fg1 = df.sort_values(by=["age"])
fg1

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
67326,Male,0.08,0,0,No Info,11.05,4.5,200,0
34663,Male,0.08,0,0,No Info,27.32,5.8,155,0
9683,Female,0.08,0,0,No Info,11.88,5.7,80,0
53735,Male,0.08,0,0,No Info,12.08,6.2,158,0
98965,Female,0.08,0,0,No Info,12.50,4.5,155,0
54651,Male,0.08,0,0,No Info,12.29,5.8,140,0
79692,Male,0.08,0,0,No Info,27.32,5.8,160,0
86802,Female,0.08,0,0,No Info,27.32,5.0,155,0
84041,Male,0.08,0,0,No Info,15.98,6.1,158,0
48070,Female,0.08,0,0,No Info,12.22,3.5,130,0
...,...,...,...,...,...,...,...,...,...
63219,Female,80.00,0,0,former,22.13,4.5,100,0
63220,Female,80.00,0,0,never,45.16,3.5,140,0
63222,Female,80.00,0,0,never,22.29,5.8,130,0
63229,Male,80.00,0,0,No Info,27.32,3.5,159,0
63254,Male,80.00,0,0,No Info,37.06,6.2,300,1
63255,Female,80.00,0,0,No Info,27.32,6.6,126,0
63308,Female,80.00,1,1,never,22.93,7.5,300,1
63342,Female,80.00,0,0,former,34.51,4.8,158,0
63371,Female,80.00,0,0,never,29.70,5.7,155,0
49999,Female,80.00,0,0,No Info,27.32,3.5,90,0

In [4]:
fg1.iloc[1000:5000]

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
50606,Female,1.08,0,0,never,20.89,6.1,130,0
33953,Male,1.08,0,0,No Info,21.13,6.6,145,0
68498,Male,1.08,0,0,No Info,18.63,6.0,158,0
31667,Male,1.08,0,0,No Info,23.77,4.8,200,0
67997,Female,1.08,0,0,No Info,16.63,5.8,140,0
89430,Female,1.08,0,0,No Info,17.27,4.5,90,0
15172,Female,1.08,0,0,No Info,14.56,6.5,90,0
21716,Female,1.08,0,0,No Info,18.22,6.1,90,0
30600,Male,1.08,0,0,No Info,17.90,4.8,85,0
27287,Female,1.08,0,0,No Info,16.84,6.1,160,0
...,...,...,...,...,...,...,...,...,...
85425,Male,4.00,0,0,No Info,27.32,4.8,85,0
23416,Male,4.00,0,0,No Info,16.18,4.8,200,0
31962,Female,4.00,0,0,No Info,27.32,4.0,155,0
65530,Male,4.00,0,0,No Info,18.80,5.0,85,0
74996,Female,4.00,0,0,never,15.68,6.1,100,0
17161,Female,4.00,0,0,No Info,15.41,4.8,90,0
21014,Female,4.00,0,0,No Info,27.32,6.6,158,0
54637,Female,4.00,0,0,No Info,17.05,6.1,130,0
8230,Female,4.00,0,0,No Info,18.37,4.0,130,0
28693,Male,4.00,0,0,No Info,16.90,6.5,160,0

## 2)Sorting the DataFrame According to Single Column(age) values in Descending Order

In [5]:
fg2 = df.sort_values(by=["age"],ascending=False)
fg2

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.00,0,1,never,25.19,6.6,140,0
58420,Male,80.00,0,0,never,30.38,8.2,130,1
57864,Female,80.00,0,0,never,30.29,4.0,80,0
57875,Male,80.00,1,0,never,27.32,6.5,200,1
8129,Female,80.00,0,0,not current,26.66,6.1,200,0
57886,Female,80.00,0,0,No Info,27.32,5.8,130,0
57887,Male,80.00,0,0,never,27.32,4.8,85,0
57895,Male,80.00,0,0,former,28.75,4.5,130,0
57935,Female,80.00,0,1,never,27.32,4.8,200,0
57945,Female,80.00,1,0,never,27.32,6.1,160,0
...,...,...,...,...,...,...,...,...,...
57655,Female,0.08,0,0,No Info,12.82,3.5,90,0
63095,Female,0.08,0,0,No Info,13.39,6.1,90,0
79692,Male,0.08,0,0,No Info,27.32,5.8,160,0
53735,Male,0.08,0,0,No Info,12.08,6.2,158,0
54651,Male,0.08,0,0,No Info,12.29,5.8,140,0
30060,Male,0.08,0,0,No Info,12.89,6.5,145,0
16028,Male,0.08,0,0,No Info,14.40,6.0,90,0
40039,Female,0.08,0,0,No Info,14.26,6.5,160,0
92964,Male,0.08,0,0,No Info,12.10,6.1,159,0
33684,Male,0.08,0,0,No Info,30.64,6.6,130,0

In [6]:
fg2.iloc[30000:35000]

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
46656,Female,56.0,0,0,No Info,27.32,6.2,126,1
15767,Male,56.0,0,0,No Info,21.82,9.0,145,1
46636,Female,56.0,0,0,No Info,27.32,4.8,140,0
46627,Female,56.0,0,0,No Info,27.32,6.2,126,0
64570,Female,56.0,0,0,current,29.66,6.0,80,0
46595,Female,56.0,1,0,never,29.48,4.0,159,0
29180,Female,56.0,0,0,never,40.82,6.6,80,0
96633,Male,56.0,0,0,current,25.85,4.5,90,0
96635,Female,56.0,0,0,never,30.76,6.6,100,0
46545,Female,56.0,0,0,No Info,35.33,5.8,126,0
...,...,...,...,...,...,...,...,...,...
64004,Male,53.0,0,0,never,27.32,3.5,85,0
63770,Female,53.0,0,0,No Info,23.43,5.7,158,0
64187,Female,53.0,0,0,former,35.80,6.6,158,0
83129,Male,53.0,0,0,No Info,34.18,6.6,126,0
3408,Female,53.0,0,0,No Info,25.96,4.0,159,0
79829,Female,53.0,0,0,never,23.69,3.5,140,0
3849,Female,53.0,0,0,current,27.32,6.6,200,0
23565,Male,53.0,0,0,never,23.71,4.5,200,0
65709,Male,53.0,0,0,never,27.32,5.0,100,0
63061,Male,53.0,0,0,No Info,26.79,6.1,140,0

## 3)Sorting The DataFrame According to Multiple Columns(age,blood_glucose_level)

In [7]:
fg3 = df.sort_values(by=["age","blood_glucose_level"])
fg3

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
3742,Male,0.08,0,0,No Info,12.80,6.6,80,0
9683,Female,0.08,0,0,No Info,11.88,5.7,80,0
45073,Male,0.08,0,0,No Info,11.10,6.1,80,0
32402,Male,0.08,0,0,No Info,13.68,5.0,85,0
16028,Male,0.08,0,0,No Info,14.40,6.0,90,0
38883,Male,0.08,0,0,No Info,14.92,3.5,90,0
57655,Female,0.08,0,0,No Info,12.82,3.5,90,0
63095,Female,0.08,0,0,No Info,13.39,6.1,90,0
94556,Female,0.08,0,0,No Info,27.32,6.5,90,0
13162,Male,0.08,0,0,No Info,27.32,6.1,126,0
...,...,...,...,...,...,...,...,...,...
92412,Male,80.00,0,0,former,27.32,6.1,300,1
95041,Male,80.00,0,0,ever,31.01,6.8,300,1
95107,Female,80.00,0,0,never,20.80,9.0,300,1
95423,Female,80.00,0,0,never,22.57,6.8,300,1
96245,Female,80.00,0,0,former,21.63,6.1,300,1
96250,Male,80.00,1,0,former,30.68,5.7,300,1
97521,Female,80.00,1,0,never,25.44,6.2,300,1
97607,Female,80.00,0,0,never,25.86,9.0,300,1
97833,Male,80.00,0,1,ever,28.77,6.2,300,1
99663,Male,80.00,0,0,No Info,34.00,9.0,300,1

In [8]:
fg3.iloc[10000:10500]

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
67854,Male,10.0,0,0,No Info,17.04,4.5,100,0
68596,Female,10.0,0,0,No Info,25.19,5.7,100,0
69171,Male,10.0,0,0,No Info,22.22,6.1,100,0
71127,Female,10.0,0,0,never,27.04,4.5,100,0
71505,Male,10.0,0,0,No Info,15.95,6.2,100,0
71841,Female,10.0,0,0,No Info,22.01,4.8,100,0
71855,Male,10.0,0,0,No Info,19.41,3.5,100,0
72048,Male,10.0,0,0,No Info,21.00,4.5,100,0
72307,Male,10.0,0,0,No Info,16.94,6.5,100,0
72349,Male,10.0,0,0,No Info,15.53,5.7,100,0
...,...,...,...,...,...,...,...,...,...
22955,Male,10.0,0,0,never,17.64,4.5,160,0
24225,Male,10.0,0,0,No Info,27.32,4.5,160,0
28543,Male,10.0,0,0,No Info,27.32,6.2,160,0
30993,Female,10.0,0,0,No Info,15.65,4.0,160,0
30995,Female,10.0,0,0,No Info,22.11,6.1,160,0
33117,Female,10.0,0,0,No Info,27.32,6.1,160,0
33172,Male,10.0,0,0,No Info,16.60,5.7,160,0
33820,Female,10.0,0,0,No Info,14.87,4.5,160,0
34742,Male,10.0,0,0,No Info,32.71,6.1,160,0
35203,Female,10.0,0,0,No Info,27.32,4.5,160,0

In [9]:
fg4 = df.sort_values(by=["blood_glucose_level","age"])
fg4

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
3742,Male,0.08,0,0,No Info,12.80,6.6,80,0
9683,Female,0.08,0,0,No Info,11.88,5.7,80,0
45073,Male,0.08,0,0,No Info,11.10,6.1,80,0
27044,Male,0.16,0,0,No Info,15.72,6.5,80,0
33278,Male,0.16,0,0,No Info,11.95,6.6,80,0
35016,Male,0.16,0,0,No Info,27.32,6.6,80,0
65587,Male,0.16,0,0,No Info,12.40,4.0,80,0
82621,Female,0.16,0,0,No Info,13.06,6.2,80,0
27291,Male,0.24,0,0,No Info,14.50,4.0,80,0
44253,Female,0.24,0,0,No Info,14.42,6.1,80,0
...,...,...,...,...,...,...,...,...,...
92412,Male,80.00,0,0,former,27.32,6.1,300,1
95041,Male,80.00,0,0,ever,31.01,6.8,300,1
95107,Female,80.00,0,0,never,20.80,9.0,300,1
95423,Female,80.00,0,0,never,22.57,6.8,300,1
96245,Female,80.00,0,0,former,21.63,6.1,300,1
96250,Male,80.00,1,0,former,30.68,5.7,300,1
97521,Female,80.00,1,0,never,25.44,6.2,300,1
97607,Female,80.00,0,0,never,25.86,9.0,300,1
97833,Male,80.00,0,1,ever,28.77,6.2,300,1
99663,Male,80.00,0,0,No Info,34.00,9.0,300,1

In [10]:
fg3.iloc[20000:25000]

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
40912,Male,20.0,0,0,never,37.70,5.8,100,0
41172,Male,20.0,0,0,current,28.87,5.0,100,0
41676,Male,20.0,0,0,No Info,26.08,6.6,100,0
42607,Male,20.0,0,0,never,24.84,5.8,100,0
43650,Female,20.0,0,0,never,28.69,6.2,100,0
44831,Female,20.0,0,0,not current,23.62,6.6,100,0
45870,Female,20.0,0,0,never,22.32,3.5,100,0
46250,Female,20.0,0,0,No Info,27.32,4.5,100,0
51075,Female,20.0,0,0,No Info,27.32,4.0,100,0
51182,Female,20.0,0,0,never,32.42,4.8,100,0
...,...,...,...,...,...,...,...,...,...
68027,Female,24.0,0,0,never,31.57,6.2,100,0
71235,Female,24.0,0,0,No Info,27.32,4.5,100,0
71304,Female,24.0,0,0,No Info,22.48,5.0,100,0
71402,Male,24.0,1,0,former,47.29,6.2,100,0
71514,Female,24.0,0,0,never,36.52,4.8,100,0
73292,Female,24.0,0,0,No Info,22.67,5.8,100,0
73999,Female,24.0,0,0,never,21.72,5.8,100,0
75033,Female,24.0,0,0,No Info,24.67,6.6,100,0
75188,Female,24.0,0,0,No Info,27.32,3.5,100,0
75313,Female,24.0,0,0,No Info,26.72,5.0,100,0

## 4)Sorting the DataFrame According to the Multiple Columns Sorting way

That means in which way either Ascending or Descending the columns should the affect the sorting!

In [11]:
fg5 = df.sort_values(by=["age","bmi"],ascending=[False,True])
fg5

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
3630,Female,80.00,0,0,No Info,10.01,6.0,100,0
74453,Female,80.00,0,0,never,12.36,5.7,159,0
95132,Female,80.00,0,0,never,13.71,5.8,90,0
77647,Male,80.00,0,1,never,14.25,4.8,155,0
15149,Female,80.00,1,0,never,14.38,6.6,85,0
27238,Female,80.00,1,0,never,14.59,6.2,240,1
16317,Female,80.00,0,0,never,14.70,3.5,80,0
937,Female,80.00,0,1,never,15.06,6.6,140,0
61746,Female,80.00,0,0,not current,15.23,5.7,280,1
21496,Female,80.00,1,0,former,15.32,6.5,90,0
...,...,...,...,...,...,...,...,...,...
13162,Male,0.08,0,0,No Info,27.32,6.1,126,0
34663,Male,0.08,0,0,No Info,27.32,5.8,155,0
48181,Female,0.08,0,0,No Info,27.32,4.5,160,0
53946,Male,0.08,0,0,No Info,27.32,5.8,200,0
57276,Female,0.08,0,0,No Info,27.32,3.5,130,0
79692,Male,0.08,0,0,No Info,27.32,5.8,160,0
84702,Female,0.08,0,0,No Info,27.32,4.8,140,0
86802,Female,0.08,0,0,No Info,27.32,5.0,155,0
94556,Female,0.08,0,0,No Info,27.32,6.5,90,0
33684,Male,0.08,0,0,No Info,30.64,6.6,130,0

## 5) Using key to manipulate the Sorting of the DataFrame

### a)Using Lambda Function for sorting in advance way

In [12]:
fg6 = df.sort_values(by=["smoking_history"],key=lambda x:x.apply(str).apply(len))
fg6

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
19522,Female,73.0,1,1,ever,40.18,6.2,155,0
81468,Male,58.0,0,0,ever,28.75,4.5,90,0
81471,Female,80.0,0,0,ever,24.18,6.6,130,0
81472,Female,62.0,1,1,ever,38.91,4.5,80,0
54161,Male,45.0,0,0,ever,33.62,5.0,155,0
33868,Female,80.0,0,1,ever,18.35,5.8,200,0
54168,Female,27.0,0,0,ever,22.80,4.5,200,0
19712,Female,57.0,0,0,ever,24.44,5.7,158,0
70223,Female,44.0,0,0,ever,23.08,6.5,159,0
33863,Male,22.0,0,0,ever,22.57,4.5,126,0
...,...,...,...,...,...,...,...,...,...
40944,Female,61.0,0,0,not current,24.09,6.6,145,1
29504,Female,46.0,0,0,not current,32.49,5.8,158,0
17235,Female,80.0,0,0,not current,29.79,5.8,90,0
68664,Male,58.0,1,1,not current,31.50,5.8,145,0
77602,Male,55.0,0,0,not current,27.89,6.5,159,0
90629,Female,25.0,0,0,not current,38.76,4.8,160,0
57022,Female,28.0,0,0,not current,31.32,4.0,200,0
90630,Male,53.0,0,0,not current,29.15,5.7,80,0
9510,Female,31.0,0,0,not current,27.32,6.2,100,0
78199,Female,58.0,0,0,not current,27.18,4.0,100,0

In [13]:
fg7 = df.sort_values(by=["smoking_history"],key=lambda x:x.apply(str).apply(len),ascending=False)
fg7

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
67562,Male,70.0,1,0,not current,29.01,6.1,80,0
87959,Female,64.0,0,0,not current,33.56,4.8,158,0
87838,Female,75.0,0,0,not current,25.30,4.5,100,0
72631,Female,31.0,0,0,not current,34.31,6.6,140,0
23267,Female,56.0,0,0,not current,28.29,4.0,126,0
87854,Female,63.0,0,0,not current,23.08,6.0,145,0
45697,Male,31.0,0,0,not current,18.89,6.6,260,1
6726,Male,38.0,0,0,not current,27.32,6.1,130,0
45689,Female,40.0,0,0,not current,31.83,5.8,260,1
87869,Female,61.0,0,0,not current,27.32,6.0,200,0
...,...,...,...,...,...,...,...,...,...
25755,Female,57.0,0,0,ever,25.56,6.5,159,0
5077,Male,66.0,0,0,ever,41.51,6.0,159,1
88615,Male,55.0,0,0,ever,30.93,6.5,160,0
40745,Male,33.0,0,0,ever,27.32,3.5,126,0
45529,Male,62.0,0,0,ever,25.70,6.0,159,0
40740,Male,61.0,0,0,ever,28.50,6.2,85,0
60021,Female,54.0,0,0,ever,32.22,6.2,200,0
84339,Male,57.0,0,0,ever,31.32,4.0,200,0
22021,Male,54.0,0,0,ever,32.75,6.1,140,1
16671,Male,51.0,0,0,ever,40.10,4.5,155,0

### b)Using a pre-built function for sorting in advance way

In [14]:
def sort_func(x):
    return(df["bmi"] + df["HbA1c_level"]+df["blood_glucose_level"])
fg8 = df.sort_values(by=["bmi"],key = sort_func)
fg8

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
5271,Male,5.00,0,0,never,12.46,3.5,80,0
65587,Male,0.16,0,0,No Info,12.40,4.0,80,0
9156,Female,58.00,0,0,never,11.00,6.0,80,0
88798,Female,1.48,0,0,No Info,13.06,4.0,80,0
45073,Male,0.08,0,0,No Info,11.10,6.1,80,0
30696,Female,1.48,0,0,No Info,12.86,4.5,80,0
24686,Male,7.00,0,0,never,13.92,3.5,80,0
98286,Male,9.00,0,0,never,11.44,6.0,80,0
73243,Female,1.40,0,0,No Info,11.25,6.2,80,0
9683,Female,0.08,0,0,No Info,11.88,5.7,80,0
...,...,...,...,...,...,...,...,...,...
1220,Male,30.00,1,0,former,57.17,5.8,300,1
75328,Male,39.00,1,0,never,55.02,8.2,300,1
23566,Female,47.00,0,0,never,54.79,8.8,300,1
54303,Female,46.00,0,0,never,54.81,8.8,300,1
25555,Female,39.00,0,0,No Info,59.40,5.8,300,1
16686,Female,50.00,1,0,never,61.67,6.1,300,1
28443,Female,60.00,0,1,No Info,64.18,6.2,300,1
61188,Male,38.00,1,0,No Info,64.52,7.5,300,1
7480,Male,38.00,0,0,current,69.66,8.8,300,1
4551,Female,45.00,0,0,never,88.72,7.0,300,1

# ***SHOWING SOME UNSUAL THING WITH THE `KEY` parameter

In [15]:
def advance_sort_func(x):
    print(x)
    return(x + df["HbA1c_level"] + df["blood_glucose_level"])
fg9 = df.sort_values(by=["bmi"],key=advance_sort_func)
fg9

0        25.19
1        27.32
2        27.32
3        23.45
4        20.14
5        27.32
6        19.31
7        23.86
8        33.64
9        27.32
         ...
99990    27.32
99991    29.65
99992    34.34
99993    40.69
99994    24.60
99995    27.32
99996    17.37
99997    27.83
99998    35.42
99999    22.43
Name: bmi, Length: 100000, dtype: float64

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
5271,Male,5.00,0,0,never,12.46,3.5,80,0
65587,Male,0.16,0,0,No Info,12.40,4.0,80,0
9156,Female,58.00,0,0,never,11.00,6.0,80,0
88798,Female,1.48,0,0,No Info,13.06,4.0,80,0
45073,Male,0.08,0,0,No Info,11.10,6.1,80,0
30696,Female,1.48,0,0,No Info,12.86,4.5,80,0
24686,Male,7.00,0,0,never,13.92,3.5,80,0
98286,Male,9.00,0,0,never,11.44,6.0,80,0
73243,Female,1.40,0,0,No Info,11.25,6.2,80,0
9683,Female,0.08,0,0,No Info,11.88,5.7,80,0
...,...,...,...,...,...,...,...,...,...
1220,Male,30.00,1,0,former,57.17,5.8,300,1
75328,Male,39.00,1,0,never,55.02,8.2,300,1
23566,Female,47.00,0,0,never,54.79,8.8,300,1
54303,Female,46.00,0,0,never,54.81,8.8,300,1
25555,Female,39.00,0,0,No Info,59.40,5.8,300,1
16686,Female,50.00,1,0,never,61.67,6.1,300,1
28443,Female,60.00,0,1,No Info,64.18,6.2,300,1
61188,Male,38.00,1,0,No Info,64.52,7.5,300,1
7480,Male,38.00,0,0,current,69.66,8.8,300,1
4551,Female,45.00,0,0,never,88.72,7.0,300,1

### Changing the DataFrame row index to demonstrate the unusual thing!

In [16]:
df1 = df.copy()
df1.index = [x for x in range(1000,1000 +len(df))]

In [17]:
df1

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
1000,Female,80.0,0,1,never,25.19,6.6,140,0
1001,Female,54.0,0,0,No Info,27.32,6.6,80,0
1002,Male,28.0,0,0,never,27.32,5.7,158,0
1003,Female,36.0,0,0,current,23.45,5.0,155,0
1004,Male,76.0,1,1,current,20.14,4.8,155,0
1005,Female,20.0,0,0,never,27.32,6.6,85,0
1006,Female,44.0,0,0,never,19.31,6.5,200,1
1007,Female,79.0,0,0,No Info,23.86,5.7,85,0
1008,Male,42.0,0,0,never,33.64,4.8,145,0
1009,Female,32.0,0,0,never,27.32,5.0,100,0
...,...,...,...,...,...,...,...,...,...
100990,Male,39.0,0,0,No Info,27.32,6.1,100,0
100991,Male,22.0,0,0,current,29.65,6.0,80,0
100992,Female,26.0,0,0,never,34.34,6.5,160,0
100993,Female,40.0,0,0,never,40.69,3.5,155,0
100994,Female,36.0,0,0,No Info,24.60,4.8,145,0
100995,Female,80.0,0,0,No Info,27.32,6.2,90,0
100996,Female,2.0,0,0,No Info,17.37,6.5,100,0
100997,Male,66.0,0,0,former,27.83,5.7,155,0
100998,Female,24.0,0,0,never,35.42,4.0,100,0
100999,Female,57.0,0,0,current,22.43,6.6,90,0

### As we can see he have changed the row index for `df1`

In [18]:
def advance_sort_func(x):
    print(x)
    return(x + df1["HbA1c_level"] + df1["blood_glucose_level"])

fg10 = df1.sort_values(by = ["bmi"],key=advance_sort_func)
fg10

0        25.19
1        27.32
2        27.32
3        23.45
4        20.14
5        27.32
6        19.31
7        23.86
8        33.64
9        27.32
         ...
99990    27.32
99991    29.65
99992    34.34
99993    40.69
99994    24.60
99995    27.32
99996    17.37
99997    27.83
99998    35.42
99999    22.43
Name: bmi, Length: 100000, dtype: float64

ValueError: User-provided `key` function must not change the shape of the array.

### The Error above shows the unusual pattern and bhevaiour

We can see the x contains series of emi column with the unusual row labels!

### Showing the parameters which is recieved by the key function !

In [19]:
def advance_sort_func(x):
    print(x)
    return(x)

fg11 = df.sort_values(by=["bmi","HbA1c_level","blood_glucose_level"],key=advance_sort_func)

0        25.19
1        27.32
2        27.32
3        23.45
4        20.14
5        27.32
6        19.31
7        23.86
8        33.64
9        27.32
         ...
99990    27.32
99991    29.65
99992    34.34
99993    40.69
99994    24.60
99995    27.32
99996    17.37
99997    27.83
99998    35.42
99999    22.43
Name: bmi, Length: 100000, dtype: float64
0        6.6
1        6.6
2        5.7
3        5.0
4        4.8
5        6.6
6        6.5
7        5.7
8        4.8
9        5.0
        ...
99990    6.1
99991    6.0
99992    6.5
99993    3.5
99994    4.8
99995    6.2
99996    6.5
99997    5.7
99998    4.0
99999    6.6
Name: HbA1c_level, Length: 100000, dtype: float64
0        140
1         80
2        158
3        155
4        155
5         85
6        200
7         85
8        145
9        100
        ...
99990    100
99991     80
99992    160
99993    155
99994    145
99995     90
99996    100
99997    155
99998    100
99999     90
Name: blood_glucose_level, Length: 100000, dtype: int64

## 6)Sorting the DataFrame according to the Column containing NaN Values(Managing Them)

In [20]:
df3 =df.copy()
df3.loc[[0,1,2],"bmi"] = np.NaN

In [21]:
df3

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,NaN,6.6,140,0
1,Female,54.0,0,0,No Info,NaN,6.6,80,0
2,Male,28.0,0,0,never,NaN,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
5,Female,20.0,0,0,never,27.32,6.6,85,0
6,Female,44.0,0,0,never,19.31,6.5,200,1
7,Female,79.0,0,0,No Info,23.86,5.7,85,0
8,Male,42.0,0,0,never,33.64,4.8,145,0
9,Female,32.0,0,0,never,27.32,5.0,100,0
...,...,...,...,...,...,...,...,...,...
99990,Male,39.0,0,0,No Info,27.32,6.1,100,0
99991,Male,22.0,0,0,current,29.65,6.0,80,0
99992,Female,26.0,0,0,never,34.34,6.5,160,0
99993,Female,40.0,0,0,never,40.69,3.5,155,0
99994,Female,36.0,0,0,No Info,24.60,4.8,145,0
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

In [22]:
fg12 = df3.sort_values(by=["bmi"])
fg12

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
6369,Male,8.00,0,0,No Info,10.01,6.0,140,0
3630,Female,80.00,0,0,No Info,10.01,6.0,100,0
81268,Male,38.00,0,0,never,10.08,6.1,130,0
73319,Male,11.00,0,0,No Info,10.14,6.1,160,0
29615,Male,39.00,0,0,ever,10.19,6.5,85,0
85897,Female,0.48,0,0,No Info,10.21,5.7,126,0
677,Female,0.88,0,0,No Info,10.30,5.7,100,0
46799,Male,10.00,0,0,No Info,10.30,5.7,145,0
22847,Male,7.00,0,0,No Info,10.34,6.5,159,0
41843,Male,3.00,0,0,never,10.40,4.8,85,0
...,...,...,...,...,...,...,...,...,...
22454,Male,19.00,0,0,No Info,87.51,3.5,85,0
90043,Female,34.00,0,0,No Info,87.70,6.0,126,0
4551,Female,45.00,0,0,never,88.72,7.0,300,1
96066,Male,80.00,0,0,never,88.76,6.2,140,0
69549,Male,38.00,0,0,never,91.82,6.0,160,0
76093,Male,16.00,0,0,No Info,95.22,4.5,90,0
87843,Male,7.00,0,0,No Info,95.69,6.1,130,0
0,Female,80.00,0,1,never,NaN,6.6,140,0
1,Female,54.00,0,0,No Info,NaN,6.6,80,0
2,Male,28.00,0,0,never,NaN,5.7,158,0

In [23]:
fg13 = df3.sort_values(by=["bmi"],ascending=False)
fg13

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
87843,Male,7.00,0,0,No Info,95.69,6.1,130,0
76093,Male,16.00,0,0,No Info,95.22,4.5,90,0
69549,Male,38.00,0,0,never,91.82,6.0,160,0
96066,Male,80.00,0,0,never,88.76,6.2,140,0
4551,Female,45.00,0,0,never,88.72,7.0,300,1
90043,Female,34.00,0,0,No Info,87.70,6.0,126,0
22454,Male,19.00,0,0,No Info,87.51,3.5,85,0
24186,Male,49.00,0,0,former,83.74,6.8,155,1
71485,Female,48.00,0,0,never,81.73,6.5,130,1
20591,Female,39.00,0,0,No Info,79.48,4.8,155,0
...,...,...,...,...,...,...,...,...,...
46799,Male,10.00,0,0,No Info,10.30,5.7,145,0
85897,Female,0.48,0,0,No Info,10.21,5.7,126,0
29615,Male,39.00,0,0,ever,10.19,6.5,85,0
73319,Male,11.00,0,0,No Info,10.14,6.1,160,0
81268,Male,38.00,0,0,never,10.08,6.1,130,0
3630,Female,80.00,0,0,No Info,10.01,6.0,100,0
6369,Male,8.00,0,0,No Info,10.01,6.0,140,0
0,Female,80.00,0,1,never,NaN,6.6,140,0
1,Female,54.00,0,0,No Info,NaN,6.6,80,0
2,Male,28.00,0,0,never,NaN,5.7,158,0

In [24]:
fg14 = df3.sort_values(by=["bmi"],na_position="first")
fg14

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.00,0,1,never,NaN,6.6,140,0
1,Female,54.00,0,0,No Info,NaN,6.6,80,0
2,Male,28.00,0,0,never,NaN,5.7,158,0
6369,Male,8.00,0,0,No Info,10.01,6.0,140,0
3630,Female,80.00,0,0,No Info,10.01,6.0,100,0
81268,Male,38.00,0,0,never,10.08,6.1,130,0
73319,Male,11.00,0,0,No Info,10.14,6.1,160,0
29615,Male,39.00,0,0,ever,10.19,6.5,85,0
85897,Female,0.48,0,0,No Info,10.21,5.7,126,0
677,Female,0.88,0,0,No Info,10.30,5.7,100,0
...,...,...,...,...,...,...,...,...,...
20591,Female,39.00,0,0,No Info,79.48,4.8,155,0
71485,Female,48.00,0,0,never,81.73,6.5,130,1
24186,Male,49.00,0,0,former,83.74,6.8,155,1
22454,Male,19.00,0,0,No Info,87.51,3.5,85,0
90043,Female,34.00,0,0,No Info,87.70,6.0,126,0
4551,Female,45.00,0,0,never,88.72,7.0,300,1
96066,Male,80.00,0,0,never,88.76,6.2,140,0
69549,Male,38.00,0,0,never,91.82,6.0,160,0
76093,Male,16.00,0,0,No Info,95.22,4.5,90,0
87843,Male,7.00,0,0,No Info,95.69,6.1,130,0

In [25]:
fg15 = df3.sort_values(by=["bmi"],na_position="first",ascending=False)
fg15

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.00,0,1,never,NaN,6.6,140,0
1,Female,54.00,0,0,No Info,NaN,6.6,80,0
2,Male,28.00,0,0,never,NaN,5.7,158,0
87843,Male,7.00,0,0,No Info,95.69,6.1,130,0
76093,Male,16.00,0,0,No Info,95.22,4.5,90,0
69549,Male,38.00,0,0,never,91.82,6.0,160,0
96066,Male,80.00,0,0,never,88.76,6.2,140,0
4551,Female,45.00,0,0,never,88.72,7.0,300,1
90043,Female,34.00,0,0,No Info,87.70,6.0,126,0
22454,Male,19.00,0,0,No Info,87.51,3.5,85,0
...,...,...,...,...,...,...,...,...,...
41843,Male,3.00,0,0,never,10.40,4.8,85,0
22847,Male,7.00,0,0,No Info,10.34,6.5,159,0
677,Female,0.88,0,0,No Info,10.30,5.7,100,0
46799,Male,10.00,0,0,No Info,10.30,5.7,145,0
85897,Female,0.48,0,0,No Info,10.21,5.7,126,0
29615,Male,39.00,0,0,ever,10.19,6.5,85,0
73319,Male,11.00,0,0,No Info,10.14,6.1,160,0
81268,Male,38.00,0,0,never,10.08,6.1,130,0
3630,Female,80.00,0,0,No Info,10.01,6.0,100,0
6369,Male,8.00,0,0,No Info,10.01,6.0,140,0

## 7)Sorting the columns of the DataFrame according to the a specific Row Value

In [26]:
df2 = df[["bmi","HbA1c_level","blood_glucose_level"]]
df2

         bmi  HbA1c_level  blood_glucose_level
0      25.19          6.6                  140
1      27.32          6.6                   80
2      27.32          5.7                  158
3      23.45          5.0                  155
4      20.14          4.8                  155
5      27.32          6.6                   85
6      19.31          6.5                  200
7      23.86          5.7                   85
8      33.64          4.8                  145
9      27.32          5.0                  100
...      ...          ...                  ...
99990  27.32          6.1                  100
99991  29.65          6.0                   80
99992  34.34          6.5                  160
99993  40.69          3.5                  155
99994  24.60          4.8                  145
99995  27.32          6.2                   90
99996  17.37          6.5                  100
99997  27.83          5.7                  155
99998  35.42          4.0                  100
99999  22.43          6.6                   90

[100000 rows x 3 columns]

In [27]:
fg16 = df2.sort_values(axis=1,by=[0])
fg16

       HbA1c_level    bmi  blood_glucose_level
0              6.6  25.19                  140
1              6.6  27.32                   80
2              5.7  27.32                  158
3              5.0  23.45                  155
4              4.8  20.14                  155
5              6.6  27.32                   85
6              6.5  19.31                  200
7              5.7  23.86                   85
8              4.8  33.64                  145
9              5.0  27.32                  100
...            ...    ...                  ...
99990          6.1  27.32                  100
99991          6.0  29.65                   80
99992          6.5  34.34                  160
99993          3.5  40.69                  155
99994          4.8  24.60                  145
99995          6.2  27.32                   90
99996          6.5  17.37                  100
99997          5.7  27.83                  155
99998          4.0  35.42                  100
99999          6.6  22.43                   90

[100000 rows x 3 columns]

In [28]:
fg17 = df2.sort_values(axis=1,by=[0],ascending=False)
fg17

       blood_glucose_level    bmi  HbA1c_level
0                      140  25.19          6.6
1                       80  27.32          6.6
2                      158  27.32          5.7
3                      155  23.45          5.0
4                      155  20.14          4.8
5                       85  27.32          6.6
6                      200  19.31          6.5
7                       85  23.86          5.7
8                      145  33.64          4.8
9                      100  27.32          5.0
...                    ...    ...          ...
99990                  100  27.32          6.1
99991                   80  29.65          6.0
99992                  160  34.34          6.5
99993                  155  40.69          3.5
99994                  145  24.60          4.8
99995                   90  27.32          6.2
99996                  100  17.37          6.5
99997                  155  27.83          5.7
99998                  100  35.42          4.0
99999                   90  22.43          6.6

[100000 rows x 3 columns]

## 8)Using the Other parameters of `sort_values()`

In [29]:
fgdf = df1.copy()
fgdf

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
1000,Female,80.0,0,1,never,25.19,6.6,140,0
1001,Female,54.0,0,0,No Info,27.32,6.6,80,0
1002,Male,28.0,0,0,never,27.32,5.7,158,0
1003,Female,36.0,0,0,current,23.45,5.0,155,0
1004,Male,76.0,1,1,current,20.14,4.8,155,0
1005,Female,20.0,0,0,never,27.32,6.6,85,0
1006,Female,44.0,0,0,never,19.31,6.5,200,1
1007,Female,79.0,0,0,No Info,23.86,5.7,85,0
1008,Male,42.0,0,0,never,33.64,4.8,145,0
1009,Female,32.0,0,0,never,27.32,5.0,100,0
...,...,...,...,...,...,...,...,...,...
100990,Male,39.0,0,0,No Info,27.32,6.1,100,0
100991,Male,22.0,0,0,current,29.65,6.0,80,0
100992,Female,26.0,0,0,never,34.34,6.5,160,0
100993,Female,40.0,0,0,never,40.69,3.5,155,0
100994,Female,36.0,0,0,No Info,24.60,4.8,145,0
100995,Female,80.0,0,0,No Info,27.32,6.2,90,0
100996,Female,2.0,0,0,No Info,17.37,6.5,100,0
100997,Male,66.0,0,0,former,27.83,5.7,155,0
100998,Female,24.0,0,0,never,35.42,4.0,100,0
100999,Female,57.0,0,0,current,22.43,6.6,90,0

In [30]:
fgdf.sort_values(by=["age"],ascending=False,kind="mergesort",inplace=True,ignore_index=True)
fgdf

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.00,0,1,never,25.19,6.6,140,0
1,Male,80.00,0,0,former,24.42,4.0,160,0
2,Female,80.00,1,0,never,27.32,6.8,280,1
3,Female,80.00,0,0,No Info,27.32,4.8,80,0
4,Female,80.00,0,0,never,37.26,4.0,140,0
5,Male,80.00,0,0,never,22.06,9.0,155,1
6,Female,80.00,1,0,never,44.06,6.5,160,0
7,Female,80.00,0,0,former,21.97,7.0,300,1
8,Female,80.00,0,0,never,20.16,6.5,130,0
9,Female,80.00,0,0,No Info,27.32,6.0,200,0
...,...,...,...,...,...,...,...,...,...
99990,Male,0.08,0,0,No Info,27.32,5.8,160,0
99991,Female,0.08,0,0,No Info,12.77,4.5,160,0
99992,Male,0.08,0,0,No Info,15.98,6.1,158,0
99993,Female,0.08,0,0,No Info,27.32,4.8,140,0
99994,Female,0.08,0,0,No Info,27.32,5.0,155,0
99995,Male,0.08,0,0,No Info,12.10,6.1,159,0
99996,Female,0.08,0,0,No Info,12.74,3.5,140,0
99997,Female,0.08,0,0,No Info,27.32,6.5,90,0
99998,Male,0.08,0,0,No Info,14.73,3.5,200,0
99999,Female,0.08,0,0,No Info,12.50,4.5,155,0

# Sorting Pandas Objects Using:- `sort_index()` function

In [24]:
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
5,Female,20.0,0,0,never,27.32,6.6,85,0
6,Female,44.0,0,0,never,19.31,6.5,200,1
7,Female,79.0,0,0,No Info,23.86,5.7,85,0
8,Male,42.0,0,0,never,33.64,4.8,145,0
9,Female,32.0,0,0,never,27.32,5.0,100,0
...,...,...,...,...,...,...,...,...,...
99990,Male,39.0,0,0,No Info,27.32,6.1,100,0
99991,Male,22.0,0,0,current,29.65,6.0,80,0
99992,Female,26.0,0,0,never,34.34,6.5,160,0
99993,Female,40.0,0,0,never,40.69,3.5,155,0
99994,Female,36.0,0,0,No Info,24.60,4.8,145,0
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

In [25]:
fg1 = df.sort_index(axis=1,key=lambda x:[len(fg) for fg in x])
fg1

,age,bmi,gender,diabetes,HbA1c_level,hypertension,heart_disease,smoking_history,blood_glucose_level
0,80.0,25.19,Female,0,6.6,0,1,never,140
1,54.0,27.32,Female,0,6.6,0,0,No Info,80
2,28.0,27.32,Male,0,5.7,0,0,never,158
3,36.0,23.45,Female,0,5.0,0,0,current,155
4,76.0,20.14,Male,0,4.8,1,1,current,155
5,20.0,27.32,Female,0,6.6,0,0,never,85
6,44.0,19.31,Female,1,6.5,0,0,never,200
7,79.0,23.86,Female,0,5.7,0,0,No Info,85
8,42.0,33.64,Male,0,4.8,0,0,never,145
9,32.0,27.32,Female,0,5.0,0,0,never,100
...,...,...,...,...,...,...,...,...,...
99990,39.0,27.32,Male,0,6.1,0,0,No Info,100
99991,22.0,29.65,Male,0,6.0,0,0,current,80
99992,26.0,34.34,Female,0,6.5,0,0,never,160
99993,40.0,40.69,Female,0,3.5,0,0,never,155
99994,36.0,24.60,Female,0,4.8,0,0,No Info,145
99995,80.0,27.32,Female,0,6.2,0,0,No Info,90
99996,2.0,17.37,Female,0,6.5,0,0,No Info,100
99997,66.0,27.83,Male,0,5.7,0,0,former,155
99998,24.0,35.42,Female,0,4.0,0,0,never,100
99999,57.0,22.43,Female,0,6.6,0,0,current,90

In [26]:
fg2 = df.sort_index(axis=1,key=lambda x:[len(fg) for fg in x],ascending=False)
fg2

,blood_glucose_level,smoking_history,heart_disease,hypertension,HbA1c_level,diabetes,gender,age,bmi
0,140,never,1,0,6.6,0,Female,80.0,25.19
1,80,No Info,0,0,6.6,0,Female,54.0,27.32
2,158,never,0,0,5.7,0,Male,28.0,27.32
3,155,current,0,0,5.0,0,Female,36.0,23.45
4,155,current,1,1,4.8,0,Male,76.0,20.14
5,85,never,0,0,6.6,0,Female,20.0,27.32
6,200,never,0,0,6.5,1,Female,44.0,19.31
7,85,No Info,0,0,5.7,0,Female,79.0,23.86
8,145,never,0,0,4.8,0,Male,42.0,33.64
9,100,never,0,0,5.0,0,Female,32.0,27.32
...,...,...,...,...,...,...,...,...,...
99990,100,No Info,0,0,6.1,0,Male,39.0,27.32
99991,80,current,0,0,6.0,0,Male,22.0,29.65
99992,160,never,0,0,6.5,0,Female,26.0,34.34
99993,155,never,0,0,3.5,0,Female,40.0,40.69
99994,145,No Info,0,0,4.8,0,Female,36.0,24.60
99995,90,No Info,0,0,6.2,0,Female,80.0,27.32
99996,100,No Info,0,0,6.5,0,Female,2.0,17.37
99997,155,former,0,0,5.7,0,Male,66.0,27.83
99998,100,never,0,0,4.0,0,Female,24.0,35.42
99999,90,current,0,0,6.6,0,Female,57.0,22.43

In [27]:
fg3 = df.sort_index(axis=0,ascending=False)
fg3

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
99999,Female,57.0,0,0,current,22.43,6.6,90,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99994,Female,36.0,0,0,No Info,24.60,4.8,145,0
99993,Female,40.0,0,0,never,40.69,3.5,155,0
99992,Female,26.0,0,0,never,34.34,6.5,160,0
99991,Male,22.0,0,0,current,29.65,6.0,80,0
99990,Male,39.0,0,0,No Info,27.32,6.1,100,0
...,...,...,...,...,...,...,...,...,...
9,Female,32.0,0,0,never,27.32,5.0,100,0
8,Male,42.0,0,0,never,33.64,4.8,145,0
7,Female,79.0,0,0,No Info,23.86,5.7,85,0
6,Female,44.0,0,0,never,19.31,6.5,200,1
5,Female,20.0,0,0,never,27.32,6.6,85,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
0,Female,80.0,0,1,never,25.19,6.6,140,0

In [33]:
fgdf =df.copy()
fgdf.sort_index(axis=1,key=lambda x:[len(fg) for fg in x],inplace=True,ignore_index=True)
fgdf

ValueError: Length mismatch: Expected axis has 100000 elements, new values have 9 elements

In [36]:
fgdf =df.copy()
fgdf.sort_index(axis=0,ascending=False,inplace=True,ignore_index=True)
fgdf

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,57.0,0,0,current,22.43,6.6,90,0
1,Female,24.0,0,0,never,35.42,4.0,100,0
2,Male,66.0,0,0,former,27.83,5.7,155,0
3,Female,2.0,0,0,No Info,17.37,6.5,100,0
4,Female,80.0,0,0,No Info,27.32,6.2,90,0
5,Female,36.0,0,0,No Info,24.60,4.8,145,0
6,Female,40.0,0,0,never,40.69,3.5,155,0
7,Female,26.0,0,0,never,34.34,6.5,160,0
8,Male,22.0,0,0,current,29.65,6.0,80,0
9,Male,39.0,0,0,No Info,27.32,6.1,100,0
...,...,...,...,...,...,...,...,...,...
99990,Female,32.0,0,0,never,27.32,5.0,100,0
99991,Male,42.0,0,0,never,33.64,4.8,145,0
99992,Female,79.0,0,0,No Info,23.86,5.7,85,0
99993,Female,44.0,0,0,never,19.31,6.5,200,1
99994,Female,20.0,0,0,never,27.32,6.6,85,0
99995,Male,76.0,1,1,current,20.14,4.8,155,0
99996,Female,36.0,0,0,current,23.45,5.0,155,0
99997,Male,28.0,0,0,never,27.32,5.7,158,0
99998,Female,54.0,0,0,No Info,27.32,6.6,80,0
99999,Female,80.0,0,1,never,25.19,6.6,140,0

In [24]:
df1

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
1000,Female,80.0,0,1,never,25.19,6.6,140,0
1001,Female,54.0,0,0,No Info,27.32,6.6,80,0
1002,Male,28.0,0,0,never,27.32,5.7,158,0
1003,Female,36.0,0,0,current,23.45,5.0,155,0
1004,Male,76.0,1,1,current,20.14,4.8,155,0
1005,Female,20.0,0,0,never,27.32,6.6,85,0
1006,Female,44.0,0,0,never,19.31,6.5,200,1
1007,Female,79.0,0,0,No Info,23.86,5.7,85,0
1008,Male,42.0,0,0,never,33.64,4.8,145,0
1009,Female,32.0,0,0,never,27.32,5.0,100,0
...,...,...,...,...,...,...,...,...,...
100990,Male,39.0,0,0,No Info,27.32,6.1,100,0
100991,Male,22.0,0,0,current,29.65,6.0,80,0
100992,Female,26.0,0,0,never,34.34,6.5,160,0
100993,Female,40.0,0,0,never,40.69,3.5,155,0
100994,Female,36.0,0,0,No Info,24.60,4.8,145,0
100995,Female,80.0,0,0,No Info,27.32,6.2,90,0
100996,Female,2.0,0,0,No Info,17.37,6.5,100,0
100997,Male,66.0,0,0,former,27.83,5.7,155,0
100998,Female,24.0,0,0,never,35.42,4.0,100,0
100999,Female,57.0,0,0,current,22.43,6.6,90,0

In [25]:
df1.columns = [0,1,2,3,4,5,6,7,8]

In [26]:
df1

             0     1  2  3        4      5    6    7  8
1000    Female  80.0  0  1    never  25.19  6.6  140  0
1001    Female  54.0  0  0  No Info  27.32  6.6   80  0
1002      Male  28.0  0  0    never  27.32  5.7  158  0
1003    Female  36.0  0  0  current  23.45  5.0  155  0
1004      Male  76.0  1  1  current  20.14  4.8  155  0
1005    Female  20.0  0  0    never  27.32  6.6   85  0
1006    Female  44.0  0  0    never  19.31  6.5  200  1
1007    Female  79.0  0  0  No Info  23.86  5.7   85  0
1008      Male  42.0  0  0    never  33.64  4.8  145  0
1009    Female  32.0  0  0    never  27.32  5.0  100  0
...        ...   ... .. ..      ...    ...  ...  ... ..
100990    Male  39.0  0  0  No Info  27.32  6.1  100  0
100991    Male  22.0  0  0  current  29.65  6.0   80  0
100992  Female  26.0  0  0    never  34.34  6.5  160  0
100993  Female  40.0  0  0    never  40.69  3.5  155  0
100994  Female  36.0  0  0  No Info  24.60  4.8  145  0
100995  Female  80.0  0  0  No Info  27.32  6.2   90  0
100996  Female   2.0  0  0  No Info  17.37  6.5  100  0
100997    Male  66.0  0  0   former  27.83  5.7  155  0
100998  Female  24.0  0  0    never  35.42  4.0  100  0
100999  Female  57.0  0  0  current  22.43  6.6   90  0

[100000 rows x 9 columns]

In [28]:
df1.sort_values(by=["1"])

KeyError: '1'