In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [2]:
churn_df = pd.read_csv(r"D:\Machine Learning\Sample Project1\Notes Notebooks\Working_Data\Churn_Modelling.csv")

In [3]:
churn_df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
churn_df.shape

(10000, 14)

In [5]:
churn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [6]:
churn_df.duplicated().sum()

0

In [7]:
X = churn_df.drop(["RowNumber","CustomerId","Surname","Exited"],axis=1,inplace=False)
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [8]:
y = churn_df["Exited"]
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [10]:
X_train

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
9154,581,France,Female,27,5,102258.11,2,1,0,194681.60
4976,828,Germany,Female,25,7,144351.86,1,1,0,116613.26
4187,656,Spain,Male,32,5,136963.12,1,1,0,133814.28
7419,748,Germany,Female,40,3,103499.09,2,0,0,38153.19
1603,576,Germany,Female,36,8,166287.85,1,1,1,23305.85
...,...,...,...,...,...,...,...,...,...,...
8908,593,Spain,Male,32,10,158537.42,1,1,0,166850.57
7956,850,France,Male,81,5,0.00,2,1,1,44827.47
2254,679,France,Male,36,6,147733.64,1,0,1,172501.38
6367,536,France,Female,41,9,0.00,1,1,0,121299.14
601,762,Spain,Female,26,7,123709.46,2,1,1,169654.57

In [11]:
X_test

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
2440,701,Spain,Male,59,7,0.00,2,0,1,27597.59
651,720,France,Male,52,7,0.00,1,1,1,14781.12
1015,676,France,Female,37,5,89634.69,1,1,1,169583.18
4420,714,Germany,Female,35,6,126077.43,2,1,1,53954.24
8219,572,France,Female,39,2,0.00,2,1,1,555.28
...,...,...,...,...,...,...,...,...,...,...
984,773,France,Male,25,1,124532.78,2,0,1,11723.57
1459,817,France,Female,55,10,117561.49,1,1,0,95941.55
7964,564,Germany,Female,30,0,100954.88,2,0,0,134175.15
5343,727,France,Male,47,7,0.00,2,1,0,193305.35
5104,714,Spain,Male,44,7,0.00,1,0,1,6923.11

In [12]:
y_train

9154    0
4976    0
4187    0
7419    0
1603    0
       ..
8908    0
7956    0
2254    0
6367    0
601     0
Name: Exited, Length: 8000, dtype: int64

In [13]:
y_test

2440    0
651     0
1015    1
4420    0
8219    0
       ..
984     0
1459    1
7964    0
5343    0
5104    0
Name: Exited, Length: 2000, dtype: int64

In [14]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer


ohc = OneHotEncoder(sparse_output=False)
ctf = ColumnTransformer([("ohc",ohc,["Gender","Geography"])],remainder="passthrough")
ctf.set_output(transform="pandas")
X_train1 = ctf.fit_transform(X_train)
X_test1 = ctf.transform(X_test)

In [15]:
X_train1

,ohc__Gender_Female,ohc__Gender_Male,ohc__Geography_France,ohc__Geography_Germany,ohc__Geography_Spain,remainder__CreditScore,remainder__Age,remainder__Tenure,remainder__Balance,remainder__NumOfProducts,remainder__HasCrCard,remainder__IsActiveMember,remainder__EstimatedSalary
9154,1.0,0.0,1.0,0.0,0.0,581,27,5,102258.11,2,1,0,194681.60
4976,1.0,0.0,0.0,1.0,0.0,828,25,7,144351.86,1,1,0,116613.26
4187,0.0,1.0,0.0,0.0,1.0,656,32,5,136963.12,1,1,0,133814.28
7419,1.0,0.0,0.0,1.0,0.0,748,40,3,103499.09,2,0,0,38153.19
1603,1.0,0.0,0.0,1.0,0.0,576,36,8,166287.85,1,1,1,23305.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8908,0.0,1.0,0.0,0.0,1.0,593,32,10,158537.42,1,1,0,166850.57
7956,0.0,1.0,1.0,0.0,0.0,850,81,5,0.00,2,1,1,44827.47
2254,0.0,1.0,1.0,0.0,0.0,679,36,6,147733.64,1,0,1,172501.38
6367,1.0,0.0,1.0,0.0,0.0,536,41,9,0.00,1,1,0,121299.14
601,1.0,0.0,0.0,0.0,1.0,762,26,7,123709.46,2,1,1,169654.57

In [16]:
X_test1

,ohc__Gender_Female,ohc__Gender_Male,ohc__Geography_France,ohc__Geography_Germany,ohc__Geography_Spain,remainder__CreditScore,remainder__Age,remainder__Tenure,remainder__Balance,remainder__NumOfProducts,remainder__HasCrCard,remainder__IsActiveMember,remainder__EstimatedSalary
2440,0.0,1.0,0.0,0.0,1.0,701,59,7,0.00,2,0,1,27597.59
651,0.0,1.0,1.0,0.0,0.0,720,52,7,0.00,1,1,1,14781.12
1015,1.0,0.0,1.0,0.0,0.0,676,37,5,89634.69,1,1,1,169583.18
4420,1.0,0.0,0.0,1.0,0.0,714,35,6,126077.43,2,1,1,53954.24
8219,1.0,0.0,1.0,0.0,0.0,572,39,2,0.00,2,1,1,555.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
984,0.0,1.0,1.0,0.0,0.0,773,25,1,124532.78,2,0,1,11723.57
1459,1.0,0.0,1.0,0.0,0.0,817,55,10,117561.49,1,1,0,95941.55
7964,1.0,0.0,0.0,1.0,0.0,564,30,0,100954.88,2,0,0,134175.15
5343,0.0,1.0,1.0,0.0,0.0,727,47,7,0.00,2,1,0,193305.35
5104,0.0,1.0,0.0,0.0,1.0,714,44,7,0.00,1,0,1,6923.11

In [17]:
X_train1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8000 entries, 9154 to 601
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ohc__Gender_Female          8000 non-null   float64
 1   ohc__Gender_Male            8000 non-null   float64
 2   ohc__Geography_France       8000 non-null   float64
 3   ohc__Geography_Germany      8000 non-null   float64
 4   ohc__Geography_Spain        8000 non-null   float64
 5   remainder__CreditScore      8000 non-null   int64
 6   remainder__Age              8000 non-null   int64
 7   remainder__Tenure           8000 non-null   int64
 8   remainder__Balance          8000 non-null   float64
 9   remainder__NumOfProducts    8000 non-null   int64
 10  remainder__HasCrCard        8000 non-null   int64
 11  remainder__IsActiveMember   8000 non-null   int64
 12  remainder__EstimatedSalary  8000 non-null   float64
dtypes: float64(7), int64(6)
memory usage: 875.0 KB

In [18]:
from sklearn.preprocessing import StandardScaler

scl = StandardScaler()
scl.set_output(transform="pandas")

X_train = scl.fit_transform(X_train1)
X_test = scl.transform(X_test1)

In [19]:
X_train

,ohc__Gender_Female,ohc__Gender_Male,ohc__Geography_France,ohc__Geography_Germany,ohc__Geography_Spain,remainder__CreditScore,remainder__Age,remainder__Tenure,remainder__Balance,remainder__NumOfProducts,remainder__HasCrCard,remainder__IsActiveMember,remainder__EstimatedSalary
9154,1.094442,-1.094442,1.0,-0.577350,-0.577350,-0.717400,-1.135905,-0.003804,0.410854,0.813447,0.647064,-1.037191,1.646202
4976,1.094442,-1.094442,-1.0,1.732051,-0.577350,1.838664,-1.326423,0.687894,1.086065,-0.915911,0.647064,-1.037191,0.288967
4187,-0.913708,0.913708,-1.0,-0.577350,1.732051,0.058733,-0.659610,-0.003804,0.967545,-0.915911,0.647064,-1.037191,0.588010
7419,1.094442,-1.094442,-1.0,1.732051,-0.577350,1.010789,0.102463,-0.695503,0.430760,0.813447,-1.545443,-1.037191,-1.075079
1603,1.094442,-1.094442,-1.0,1.732051,-0.577350,-0.769143,-0.278573,1.033744,1.437932,-0.915911,0.647064,0.964142,-1.333204
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8908,-0.913708,0.913708,-1.0,-0.577350,1.732051,-0.593219,-0.659610,1.725443,1.313611,-0.915911,0.647064,-1.037191,1.162354
7956,-0.913708,0.913708,1.0,-0.577350,-0.577350,2.066330,4.008086,-0.003804,-1.229432,0.813447,0.647064,0.964142,-0.959045
2254,-0.913708,0.913708,1.0,-0.577350,-0.577350,0.296747,-0.278573,0.342045,1.140311,-0.915911,-1.545443,0.964142,1.260594
6367,1.094442,-1.094442,1.0,-0.577350,-0.577350,-1.183080,0.197722,1.379593,-1.229432,-0.915911,0.647064,-1.037191,0.370432
601,1.094442,-1.094442,-1.0,-0.577350,1.732051,1.155667,-1.231164,0.687894,0.754948,0.813447,0.647064,0.964142,1.211102

In [21]:
X_test

,ohc__Gender_Female,ohc__Gender_Male,ohc__Geography_France,ohc__Geography_Germany,ohc__Geography_Spain,remainder__CreditScore,remainder__Age,remainder__Tenure,remainder__Balance,remainder__NumOfProducts,remainder__HasCrCard,remainder__IsActiveMember,remainder__EstimatedSalary
2440,-0.913708,0.913708,-1.0,-0.577350,1.732051,0.524412,1.912386,0.687894,-1.229432,0.813447,-1.545443,0.964142,-1.258591
651,-0.913708,0.913708,1.0,-0.577350,-0.577350,0.721033,1.245572,0.687894,-1.229432,-0.915911,0.647064,0.964142,-1.481408
1015,1.094442,-1.094442,1.0,-0.577350,-0.577350,0.265701,-0.183314,-0.003804,0.208366,-0.915911,0.647064,0.964142,1.209861
4420,1.094442,-1.094442,-1.0,1.732051,-0.577350,0.658942,-0.373832,0.342045,0.792931,0.813447,0.647064,0.964142,-0.800374
8219,1.094442,-1.094442,1.0,-0.577350,-0.577350,-0.810536,0.007204,-1.041353,-1.229432,0.813447,0.647064,0.964142,-1.728727
...,...,...,...,...,...,...,...,...,...,...,...,...,...
984,-0.913708,0.913708,1.0,-0.577350,-0.577350,1.269500,-1.326423,-1.387202,0.768154,0.813447,-1.545443,0.964142,-1.534564
1459,1.094442,-1.094442,1.0,-0.577350,-0.577350,1.724831,1.531349,1.725443,0.656330,-0.915911,0.647064,-1.037191,-0.070416
7964,1.094442,-1.094442,-1.0,1.732051,-0.577350,-0.893324,-0.850128,-1.733051,0.389949,0.813447,-1.545443,-1.037191,0.594284
5343,-0.913708,0.913708,1.0,-0.577350,-0.577350,0.793472,0.769277,0.687894,-1.229432,0.813447,0.647064,-1.037191,1.622276
5104,-0.913708,0.913708,-1.0,-0.577350,1.732051,0.658942,0.483499,0.687894,-1.229432,-0.915911,-1.545443,0.964142,-1.618021

In [39]:
model = tf.keras.Sequential()

In [40]:
model.add(tf.keras.layers.Dense(64,input_dim=13,activation="relu"))
model.add(tf.keras.layers.Dense(32,activation="relu"))
model.add(tf.keras.layers.Dense(16,activation="sigmoid"))
model.add(tf.keras.layers.Dense(1,activation="sigmoid"))

In [41]:
model.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 64)                896

 dense_11 (Dense)            (None, 32)                2080

 dense_12 (Dense)            (None, 16)                528

 dense_13 (Dense)            (None, 1)                 17

=================================================================
Total params: 3,521
Trainable params: 3,521
Non-trainable params: 0
_________________________________________________________________

In [42]:
model.compile(optimizer="Adam",loss="binary_crossentropy",metrics=["accuracy"])

In [43]:
with tf.device('/GPU:0'):
    model.fit(X_train,y_train,epochs=50,validation_split=0.15)

Epoch 1/50
213/213 [==============================] - 2s 8ms/step - loss: 0.4643 - accuracy: 0.8009 - val_loss: 0.4317 - val_accuracy: 0.8133
Epoch 2/50
213/213 [==============================] - 2s 8ms/step - loss: 0.4029 - accuracy: 0.8282 - val_loss: 0.3926 - val_accuracy: 0.8450
Epoch 3/50
213/213 [==============================] - 2s 8ms/step - loss: 0.3662 - accuracy: 0.8525 - val_loss: 0.3681 - val_accuracy: 0.8508
Epoch 4/50
213/213 [==============================] - 2s 8ms/step - loss: 0.3506 - accuracy: 0.8593 - val_loss: 0.3583 - val_accuracy: 0.8525
Epoch 5/50
213/213 [==============================] - 2s 8ms/step - loss: 0.3438 - accuracy: 0.8590 - val_loss: 0.3593 - val_accuracy: 0.8592
Epoch 6/50
213/213 [==============================] - 2s 8ms/step - loss: 0.3395 - accuracy: 0.8601 - val_loss: 0.3637 - val_accuracy: 0.8558
Epoch 7/50
213/213 [==============================] - 2s 8ms/step - loss: 0.3358 - accuracy: 0.8616 - val_loss: 0.3584 - val_accuracy: 0.8625
Epoch 8/50
213/213 [==============================] - 2s 8ms/step - loss: 0.3327 - accuracy: 0.8618 - val_loss: 0.3545 - val_accuracy: 0.8558
Epoch 9/50
213/213 [==============================] - 2s 8ms/step - loss: 0.3305 - accuracy: 0.8628 - val_loss: 0.3519 - val_accuracy: 0.8633
Epoch 10/50
213/213 [==============================] - 2s 8ms/step - loss: 0.3290 - accuracy: 0.8612 - val_loss: 0.3531 - val_accuracy: 0.8650
Epoch 11/50
213/213 [==============================] - 2s 8ms/step - loss: 0.3271 - accuracy: 0.8641 - val_loss: 0.3507 - val_accuracy: 0.8667
Epoch 12/50
213/213 [==============================] - 2s 8ms/step - loss: 0.3243 - accuracy: 0.8663 - val_loss: 0.3532 - val_accuracy: 0.8650
Epoch 13/50
213/213 [==============================] - 2s 8ms/step - loss: 0.3242 - accuracy: 0.8656 - val_loss: 0.3494 - val_accuracy: 0.8683
Epoch 14/50
213/213 [==============================] - 2s 7ms/step - loss: 0.3229 - accuracy: 0.8672 - val_loss: 0.3527 - val_accuracy: 0.8650
Epoch 15/50
213/213 [==============================] - 2s 8ms/step - loss: 0.3220 - accuracy: 0.8666 - val_loss: 0.3583 - val_accuracy: 0.8608
Epoch 16/50
213/213 [==============================] - 2s 8ms/step - loss: 0.3198 - accuracy: 0.8662 - val_loss: 0.3552 - val_accuracy: 0.8650
Epoch 17/50
213/213 [==============================] - 2s 8ms/step - loss: 0.3185 - accuracy: 0.8668 - val_loss: 0.3551 - val_accuracy: 0.8617
Epoch 18/50
213/213 [==============================] - 2s 8ms/step - loss: 0.3161 - accuracy: 0.8690 - val_loss: 0.3514 - val_accuracy: 0.8658
Epoch 19/50
213/213 [==============================] - 2s 8ms/step - loss: 0.3164 - accuracy: 0.8699 - val_loss: 0.3566 - val_accuracy: 0.8675
Epoch 20/50
213/213 [==============================] - 2s 8ms/step - loss: 0.3140 - accuracy: 0.8688 - val_loss: 0.3530 - val_accuracy: 0.8650
Epoch 21/50
213/213 [==============================] - 2s 8ms/step - loss: 0.3122 - accuracy: 0.8704 - val_loss: 0.3644 - val_accuracy: 0.8625
Epoch 22/50
213/213 [==============================] - 2s 8ms/step - loss: 0.3119 - accuracy: 0.8722 - val_loss: 0.3595 - val_accuracy: 0.8667
Epoch 23/50
213/213 [==============================] - 2s 8ms/step - loss: 0.3099 - accuracy: 0.8706 - val_loss: 0.3557 - val_accuracy: 0.8692
Epoch 24/50
213/213 [==============================] - 2s 8ms/step - loss: 0.3094 - accuracy: 0.8697 - val_loss: 0.3546 - val_accuracy: 0.8692
Epoch 25/50
213/213 [==============================] - 2s 8ms/step - loss: 0.3073 - accuracy: 0.8726 - val_loss: 0.3545 - val_accuracy: 0.8725
Epoch 26/50
213/213 [==============================] - 2s 8ms/step - loss: 0.3062 - accuracy: 0.8710 - val_loss: 0.3658 - val_accuracy: 0.8633
Epoch 27/50
213/213 [==============================] - 2s 8ms/step - loss: 0.3046 - accuracy: 0.8718 - val_loss: 0.3644 - val_accuracy: 0.8600
Epoch 28/50
213/213 [==============================] - 2s 8ms/step - loss: 0.3036 - accuracy: 0.8729 - val_loss: 0.3656 - val_accuracy: 0.8667
Epoch 29/50
213/213 [==============================] - 2s 8ms/step - loss: 0.3027 - accuracy: 0.8754 - val_loss: 0.3617 - val_accuracy: 0.8658
Epoch 30/50
213/213 [==============================] - 2s 8ms/step - loss: 0.3007 - accuracy: 0.8756 - val_loss: 0.3630 - val_accuracy: 0.8650
Epoch 31/50
213/213 [==============================] - 2s 8ms/step - loss: 0.3008 - accuracy: 0.8747 - val_loss: 0.3725 - val_accuracy: 0.8592
Epoch 32/50
213/213 [==============================] - 2s 8ms/step - loss: 0.2989 - accuracy: 0.8749 - val_loss: 0.3631 - val_accuracy: 0.8642
Epoch 33/50
213/213 [==============================] - 2s 8ms/step - loss: 0.2983 - accuracy: 0.8756 - val_loss: 0.3714 - val_accuracy: 0.8592
Epoch 34/50
213/213 [==============================] - 2s 8ms/step - loss: 0.2955 - accuracy: 0.8763 - val_loss: 0.3644 - val_accuracy: 0.8617
Epoch 35/50
213/213 [==============================] - 2s 8ms/step - loss: 0.2957 - accuracy: 0.8788 - val_loss: 0.3674 - val_accuracy: 0.8592
Epoch 36/50
213/213 [==============================] - 2s 7ms/step - loss: 0.2944 - accuracy: 0.8781 - val_loss: 0.3689 - val_accuracy: 0.8592
Epoch 37/50
213/213 [==============================] - 2s 7ms/step - loss: 0.2920 - accuracy: 0.8791 - val_loss: 0.3884 - val_accuracy: 0.8467
Epoch 38/50
213/213 [==============================] - 2s 8ms/step - loss: 0.2913 - accuracy: 0.8790 - val_loss: 0.3752 - val_accuracy: 0.8600
Epoch 39/50
213/213 [==============================] - 2s 8ms/step - loss: 0.2909 - accuracy: 0.8815 - val_loss: 0.3742 - val_accuracy: 0.8583
Epoch 40/50
213/213 [==============================] - 2s 8ms/step - loss: 0.2892 - accuracy: 0.8813 - val_loss: 0.3686 - val_accuracy: 0.8683
Epoch 41/50
213/213 [==============================] - 2s 8ms/step - loss: 0.2895 - accuracy: 0.8809 - val_loss: 0.3748 - val_accuracy: 0.8625
Epoch 42/50
213/213 [==============================] - 2s 7ms/step - loss: 0.2854 - accuracy: 0.8840 - val_loss: 0.3772 - val_accuracy: 0.8517
Epoch 43/50
213/213 [==============================] - 2s 8ms/step - loss: 0.2845 - accuracy: 0.8850 - val_loss: 0.3778 - val_accuracy: 0.8533
Epoch 44/50
213/213 [==============================] - 2s 8ms/step - loss: 0.2849 - accuracy: 0.8824 - val_loss: 0.3730 - val_accuracy: 0.8675
Epoch 45/50
213/213 [==============================] - 2s 7ms/step - loss: 0.2840 - accuracy: 0.8834 - val_loss: 0.3886 - val_accuracy: 0.8550
Epoch 46/50
213/213 [==============================] - 2s 8ms/step - loss: 0.2817 - accuracy: 0.8829 - val_loss: 0.3768 - val_accuracy: 0.8650
Epoch 47/50
213/213 [==============================] - 2s 7ms/step - loss: 0.2809 - accuracy: 0.8837 - val_loss: 0.3888 - val_accuracy: 0.8517
Epoch 48/50
213/213 [==============================] - 2s 7ms/step - loss: 0.2779 - accuracy: 0.8885 - val_loss: 0.3852 - val_accuracy: 0.8542
Epoch 49/50
213/213 [==============================] - 2s 8ms/step - loss: 0.2791 - accuracy: 0.8843 - val_loss: 0.3795 - val_accuracy: 0.8600
Epoch 50/50
213/213 [==============================] - 2s 8ms/step - loss: 0.2789 - accuracy: 0.8834 - val_loss: 0.3811 - val_accuracy: 0.8608

In [44]:
y_log = model.predict(X_test)
y_pred = np.where(y_log > 0.5, 1, 0)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

63/63 [==============================] - 0s 3ms/step

0.8505

In [46]:
model1 = tf.keras.Sequential()

model1.add(tf.keras.layers.Dense(64,input_dim=13,activation="relu"))
model1.add(tf.keras.layers.Dense(32,activation="relu"))
model1.add(tf.keras.layers.Dense(16,activation="sigmoid"))
model1.add(tf.keras.layers.Dense(1,activation="sigmoid"))

In [47]:
model1.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_14 (Dense)            (None, 64)                896

 dense_15 (Dense)            (None, 32)                2080

 dense_16 (Dense)            (None, 16)                528

 dense_17 (Dense)            (None, 1)                 17

=================================================================
Total params: 3,521
Trainable params: 3,521
Non-trainable params: 0
_________________________________________________________________

In [48]:
model1.compile(optimizer="adam",loss="binary_focal_crossentropy",metrics=["accuracy"])

In [49]:
model1.fit(X_train,y_train,epochs=50,validation_split=0.15)

Epoch 1/50
213/213 [==============================] - 2s 9ms/step - loss: 0.1117 - accuracy: 0.8096 - val_loss: 0.1073 - val_accuracy: 0.8250
Epoch 2/50
213/213 [==============================] - 2s 9ms/step - loss: 0.1000 - accuracy: 0.8321 - val_loss: 0.0992 - val_accuracy: 0.8375
Epoch 3/50
213/213 [==============================] - 2s 9ms/step - loss: 0.0945 - accuracy: 0.8469 - val_loss: 0.0964 - val_accuracy: 0.8458
Epoch 4/50
213/213 [==============================] - 2s 9ms/step - loss: 0.0919 - accuracy: 0.8518 - val_loss: 0.0958 - val_accuracy: 0.8508
Epoch 5/50
213/213 [==============================] - 2s 8ms/step - loss: 0.0910 - accuracy: 0.8526 - val_loss: 0.0940 - val_accuracy: 0.8583
Epoch 6/50
213/213 [==============================] - 2s 8ms/step - loss: 0.0899 - accuracy: 0.8574 - val_loss: 0.0956 - val_accuracy: 0.8533
Epoch 7/50
213/213 [==============================] - 2s 9ms/step - loss: 0.0888 - accuracy: 0.8557 - val_loss: 0.0954 - val_accuracy: 0.8508
Epoch 8/50
213/213 [==============================] - 2s 8ms/step - loss: 0.0883 - accuracy: 0.8560 - val_loss: 0.0940 - val_accuracy: 0.8583
Epoch 9/50
213/213 [==============================] - 2s 8ms/step - loss: 0.0873 - accuracy: 0.8613 - val_loss: 0.0942 - val_accuracy: 0.8550
Epoch 10/50
213/213 [==============================] - 2s 8ms/step - loss: 0.0868 - accuracy: 0.8572 - val_loss: 0.0951 - val_accuracy: 0.8525
Epoch 11/50
213/213 [==============================] - 2s 8ms/step - loss: 0.0859 - accuracy: 0.8637 - val_loss: 0.0940 - val_accuracy: 0.8575
Epoch 12/50
213/213 [==============================] - 2s 8ms/step - loss: 0.0853 - accuracy: 0.8660 - val_loss: 0.0969 - val_accuracy: 0.8525
Epoch 13/50
213/213 [==============================] - 2s 9ms/step - loss: 0.0846 - accuracy: 0.8651 - val_loss: 0.0974 - val_accuracy: 0.8567
Epoch 14/50
213/213 [==============================] - 2s 8ms/step - loss: 0.0845 - accuracy: 0.8637 - val_loss: 0.0942 - val_accuracy: 0.8617
Epoch 15/50
213/213 [==============================] - 2s 8ms/step - loss: 0.0834 - accuracy: 0.8653 - val_loss: 0.0962 - val_accuracy: 0.8558
Epoch 16/50
213/213 [==============================] - 2s 9ms/step - loss: 0.0830 - accuracy: 0.8674 - val_loss: 0.0976 - val_accuracy: 0.8617
Epoch 17/50
213/213 [==============================] - 2s 8ms/step - loss: 0.0825 - accuracy: 0.8671 - val_loss: 0.0952 - val_accuracy: 0.8633
Epoch 18/50
213/213 [==============================] - 2s 8ms/step - loss: 0.0819 - accuracy: 0.8649 - val_loss: 0.0961 - val_accuracy: 0.8592
Epoch 19/50
213/213 [==============================] - 2s 8ms/step - loss: 0.0812 - accuracy: 0.8716 - val_loss: 0.0950 - val_accuracy: 0.8583
Epoch 20/50
213/213 [==============================] - 2s 9ms/step - loss: 0.0808 - accuracy: 0.8697 - val_loss: 0.0981 - val_accuracy: 0.8625
Epoch 21/50
213/213 [==============================] - 2s 9ms/step - loss: 0.0800 - accuracy: 0.8697 - val_loss: 0.0987 - val_accuracy: 0.8575
Epoch 22/50
213/213 [==============================] - 2s 9ms/step - loss: 0.0794 - accuracy: 0.8671 - val_loss: 0.0980 - val_accuracy: 0.8650
Epoch 23/50
213/213 [==============================] - 2s 9ms/step - loss: 0.0789 - accuracy: 0.8712 - val_loss: 0.1001 - val_accuracy: 0.8417
Epoch 24/50
213/213 [==============================] - 2s 9ms/step - loss: 0.0787 - accuracy: 0.8694 - val_loss: 0.0969 - val_accuracy: 0.8658
Epoch 25/50
213/213 [==============================] - 2s 9ms/step - loss: 0.0783 - accuracy: 0.8725 - val_loss: 0.0963 - val_accuracy: 0.8683
Epoch 26/50
213/213 [==============================] - 2s 9ms/step - loss: 0.0771 - accuracy: 0.8729 - val_loss: 0.0979 - val_accuracy: 0.8608
Epoch 27/50
213/213 [==============================] - 2s 9ms/step - loss: 0.0766 - accuracy: 0.8725 - val_loss: 0.0989 - val_accuracy: 0.8617
Epoch 28/50
213/213 [==============================] - 2s 8ms/step - loss: 0.0768 - accuracy: 0.8722 - val_loss: 0.0975 - val_accuracy: 0.8642
Epoch 29/50
213/213 [==============================] - 2s 8ms/step - loss: 0.0758 - accuracy: 0.8732 - val_loss: 0.1023 - val_accuracy: 0.8600
Epoch 30/50
213/213 [==============================] - 2s 8ms/step - loss: 0.0756 - accuracy: 0.8728 - val_loss: 0.0978 - val_accuracy: 0.8567
Epoch 31/50
213/213 [==============================] - 2s 9ms/step - loss: 0.0750 - accuracy: 0.8749 - val_loss: 0.0999 - val_accuracy: 0.8617
Epoch 32/50
213/213 [==============================] - 2s 9ms/step - loss: 0.0742 - accuracy: 0.8765 - val_loss: 0.1021 - val_accuracy: 0.8617
Epoch 33/50
213/213 [==============================] - 2s 9ms/step - loss: 0.0742 - accuracy: 0.8749 - val_loss: 0.1011 - val_accuracy: 0.8708
Epoch 34/50
213/213 [==============================] - 2s 8ms/step - loss: 0.0736 - accuracy: 0.8769 - val_loss: 0.1017 - val_accuracy: 0.8492
Epoch 35/50
213/213 [==============================] - 2s 8ms/step - loss: 0.0732 - accuracy: 0.8744 - val_loss: 0.1034 - val_accuracy: 0.8508
Epoch 36/50
213/213 [==============================] - 2s 8ms/step - loss: 0.0729 - accuracy: 0.8737 - val_loss: 0.1023 - val_accuracy: 0.8658
Epoch 37/50
213/213 [==============================] - 2s 9ms/step - loss: 0.0723 - accuracy: 0.8769 - val_loss: 0.1020 - val_accuracy: 0.8542
Epoch 38/50
213/213 [==============================] - 2s 8ms/step - loss: 0.0717 - accuracy: 0.8812 - val_loss: 0.1023 - val_accuracy: 0.8550
Epoch 39/50
213/213 [==============================] - 2s 8ms/step - loss: 0.0708 - accuracy: 0.8774 - val_loss: 0.1040 - val_accuracy: 0.8533
Epoch 40/50
213/213 [==============================] - 2s 9ms/step - loss: 0.0712 - accuracy: 0.8794 - val_loss: 0.1115 - val_accuracy: 0.8633
Epoch 41/50
213/213 [==============================] - 2s 9ms/step - loss: 0.0709 - accuracy: 0.8794 - val_loss: 0.1104 - val_accuracy: 0.8400
Epoch 42/50
213/213 [==============================] - 2s 8ms/step - loss: 0.0700 - accuracy: 0.8837 - val_loss: 0.1075 - val_accuracy: 0.8525
Epoch 43/50
213/213 [==============================] - 2s 9ms/step - loss: 0.0698 - accuracy: 0.8791 - val_loss: 0.1064 - val_accuracy: 0.8475
Epoch 44/50
213/213 [==============================] - 2s 9ms/step - loss: 0.0689 - accuracy: 0.8843 - val_loss: 0.1110 - val_accuracy: 0.8467
Epoch 45/50
213/213 [==============================] - 2s 9ms/step - loss: 0.0686 - accuracy: 0.8837 - val_loss: 0.1090 - val_accuracy: 0.8450
Epoch 46/50
213/213 [==============================] - 2s 9ms/step - loss: 0.0685 - accuracy: 0.8840 - val_loss: 0.1070 - val_accuracy: 0.8533
Epoch 47/50
213/213 [==============================] - 2s 9ms/step - loss: 0.0680 - accuracy: 0.8825 - val_loss: 0.1146 - val_accuracy: 0.8508
Epoch 48/50
213/213 [==============================] - 2s 9ms/step - loss: 0.0681 - accuracy: 0.8847 - val_loss: 0.1096 - val_accuracy: 0.8383
Epoch 49/50
213/213 [==============================] - 2s 9ms/step - loss: 0.0680 - accuracy: 0.8832 - val_loss: 0.1127 - val_accuracy: 0.8642
Epoch 50/50
213/213 [==============================] - 2s 8ms/step - loss: 0.0668 - accuracy: 0.8850 - val_loss: 0.1135 - val_accuracy: 0.8592

In [50]:
y_log = model1.predict(X_test)
y_pred = np.where(y_log > 0.5, 1, 0)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

63/63 [==============================] - 0s 3ms/step

0.858

In [55]:
model2 = tf.keras.Sequential()

model2.add(tf.keras.layers.Dense(64,input_dim=13,activation="relu"))
model2.add(tf.keras.layers.Dense(32,activation="relu"))
model2.add(tf.keras.layers.Dense(16,activation="relu"))
model2.add(tf.keras.layers.Dense(1,activation="sigmoid"))

In [56]:
model2.compile(optimizer="adam",loss="binary_crossentropy",metrics=["accuracy"])

In [57]:
model2.fit(X_train,y_train,epochs=20,validation_split=0.15)

Epoch 1/20
213/213 [==============================] - 2s 9ms/step - loss: 0.4558 - accuracy: 0.8024 - val_loss: 0.4048 - val_accuracy: 0.8317
Epoch 2/20
213/213 [==============================] - 1s 7ms/step - loss: 0.3724 - accuracy: 0.8481 - val_loss: 0.3698 - val_accuracy: 0.8542
Epoch 3/20
213/213 [==============================] - 1s 7ms/step - loss: 0.3497 - accuracy: 0.8557 - val_loss: 0.3693 - val_accuracy: 0.8608
Epoch 4/20
213/213 [==============================] - 1s 7ms/step - loss: 0.3440 - accuracy: 0.8557 - val_loss: 0.3658 - val_accuracy: 0.8525
Epoch 5/20
213/213 [==============================] - 1s 7ms/step - loss: 0.3363 - accuracy: 0.8594 - val_loss: 0.3588 - val_accuracy: 0.8608
Epoch 6/20
213/213 [==============================] - 1s 7ms/step - loss: 0.3326 - accuracy: 0.8634 - val_loss: 0.3555 - val_accuracy: 0.8592
Epoch 7/20
213/213 [==============================] - 1s 7ms/step - loss: 0.3309 - accuracy: 0.8621 - val_loss: 0.3467 - val_accuracy: 0.8692
Epoch 8/20
213/213 [==============================] - 1s 7ms/step - loss: 0.3273 - accuracy: 0.8609 - val_loss: 0.3574 - val_accuracy: 0.8600
Epoch 9/20
213/213 [==============================] - 1s 7ms/step - loss: 0.3259 - accuracy: 0.8622 - val_loss: 0.3525 - val_accuracy: 0.8617
Epoch 10/20
213/213 [==============================] - 1s 7ms/step - loss: 0.3228 - accuracy: 0.8631 - val_loss: 0.3580 - val_accuracy: 0.8558
Epoch 11/20
213/213 [==============================] - 1s 7ms/step - loss: 0.3203 - accuracy: 0.8637 - val_loss: 0.3557 - val_accuracy: 0.8650
Epoch 12/20
213/213 [==============================] - 1s 7ms/step - loss: 0.3197 - accuracy: 0.8666 - val_loss: 0.3504 - val_accuracy: 0.8625
Epoch 13/20
213/213 [==============================] - 1s 7ms/step - loss: 0.3161 - accuracy: 0.8656 - val_loss: 0.3616 - val_accuracy: 0.8542
Epoch 14/20
213/213 [==============================] - 1s 7ms/step - loss: 0.3141 - accuracy: 0.8663 - val_loss: 0.3542 - val_accuracy: 0.8717
Epoch 15/20
213/213 [==============================] - 1s 7ms/step - loss: 0.3123 - accuracy: 0.8678 - val_loss: 0.3511 - val_accuracy: 0.8717
Epoch 16/20
213/213 [==============================] - 1s 7ms/step - loss: 0.3088 - accuracy: 0.8700 - val_loss: 0.3522 - val_accuracy: 0.8717
Epoch 17/20
213/213 [==============================] - 1s 7ms/step - loss: 0.3087 - accuracy: 0.8699 - val_loss: 0.3557 - val_accuracy: 0.8658
Epoch 18/20
213/213 [==============================] - 1s 7ms/step - loss: 0.3071 - accuracy: 0.8681 - val_loss: 0.3526 - val_accuracy: 0.8683
Epoch 19/20
213/213 [==============================] - 1s 7ms/step - loss: 0.3048 - accuracy: 0.8710 - val_loss: 0.3504 - val_accuracy: 0.8708
Epoch 20/20
213/213 [==============================] - 1s 7ms/step - loss: 0.3034 - accuracy: 0.8721 - val_loss: 0.3619 - val_accuracy: 0.8642

In [58]:
y_log = model2.predict(X_test)
y_pred = np.where(y_log > 0.5, 1, 0)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

63/63 [==============================] - 0s 2ms/step

0.8635